﻿<h1>Mantenimiento de Personas</h1>
<button class="btn btn-success" ng-click="agregarNuevaPersona()">Nueva Persona</button>
<table class="table table-condensed table-hover table-bordered table-striped" >
    <tr><th> </th><th> </th><th>Cod. Persona</th><th>Apellido Paterno</th><th>Apellido Materno</th><th>Primer Nombre</th><th>Segundo Nombres</th><th>Genero</th></tr>
    <tr ng-repeat="persona in listapersonas">
        <td><button type="button" class="btn btn-default btn-sm" ng-click="editar(persona)"><span class=" glyphicon glyphicon-edit"></span></button></td>
        <td><button type="button" class="btn btn-default btn-sm" ng-click="eliminar(persona)"><span class=" glyphicon glyphicon-trash"></span></button></td>
        <td>{{persona.IdPersona}}</td>
        <td>{{persona.ApePaternoRazSoc}}</td>
        <td>{{persona.ApeMaterno}}</td>
        <td>{{persona.Nombres1}}</td>
        <td>{{persona.Nombres2}}</td>
        <td>{{persona.Sexo}}</td>
    </tr>
</table>
<div class="modal fade" role="dialog" id="nuevaPersona" tabindex="-1" aria-labelledby="myModalLabel" >
     <div class="modal-dialog" role="document"> 
        <div class="modal-content"> 
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                 </button>
                  <h4 class="modal-title" id="myModalLabel">Mantenimiento de Personas</h4> 
            </div> 
            <div class="modal-body"> 
                <div class="form-group" ng-class="{'has-error':nuevaPersona.ApePaternoRazSoc==''}">
                    <label for="inputStoreDescription" class="col-lg-4 control-label">Apellido Paterno</label>
                    <div class="col-lg-8">
                        <input id="text2" type="text" ng-model="nuevaPersona.ApePaternoRazSoc" class="form-control" placeholder="Ingrese Apellido Paterno" maxlength="20"/>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':nuevaPersona.ApeMaterno==''}">
                    <label for="inputStoreDescription" class="col-lg-4 control-label">Apellido Materno</label>
                    <div class="col-lg-8">
                        <input id="text3" type="text" ng-model="nuevaPersona.ApeMaterno" class="form-control" placeholder="Ingrese Apellido Materno" maxlength="20" />
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':nuevaPersona.Nombres1==''}">
                    <label for="inputStoreDescription" class="col-lg-4 control-label">Primer Nombre</label>
                    <div class="col-lg-8">
                        <input id="text3" type="text" ng-model="nuevaPersona.Nombres1" class="form-control" placeholder="Ingrese Primer Nombre" maxlength="20" />
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':nuevaPersona.Nombres2==''}">
                    <label for="inputStoreDescription" class="col-lg-4 control-label">Segundo Nombre</label>
                    <div class="col-lg-8">
                        <input id="text3" type="text" ng-model="nuevaPersona.Nombres2" class="form-control" placeholder="Ingrese Segundo Nombre" maxlength="20" />
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':nuevaPersona.Sexo==''}">
                    <label for="inputStoreDescription" class="col-lg-4 control-label">Genero</label>
                    <div class="col-lg-8">
                        <select ng-model="nuevaPersona.Sexo" class="form-control">
                            <option value="M" >Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                        <!--<input id="text3" type="text" ng-model="nuevaPersona.Sexo" class="form-control" placeholder="Ingrese Genero" maxlength="20" />-->
                    </div>
                </div>
            </div> 
            <div class="modal-footer"> 
                 <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                 <button type="button" class="btn btn-success" ng-click="guardarNuevaPersona(nuevaPersona)">Guardar</button>
             </div>
          </div>
     </div>
</div>

<div class="modal fade" role="dialog" id="EditarPersona" tabindex="-1" aria-labelledby="myModalLabel" >
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Mantenimiento de Personas</h4>
        </div>
        <div class="modal-body">
            <div class="form-group" ng-class="{'has-error':editarPersona.ApePaternoRazSoc==''}">
                <label for="inputStoreDescription" class="col-lg-4 control-label">Apellido Paterno</label>
                <div class="col-lg-8">
                    <input id="text2" type="text" ng-model="editarPersona.ApePaternoRazSoc" class="form-control" placeholder="Ingrese Apellido Paterno" maxlength="20" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':editarPersona.ApeMaterno==''}">
                <label for="inputStoreDescription" class="col-lg-4 control-label">Apellido Materno</label>
                <div class="col-lg-8">
                    <input id="text3" type="text" ng-model="editarPersona.ApeMaterno" class="form-control" placeholder="Ingrese Apellido Materno" maxlength="20" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':editarPersona.Nombres1==''}">
                <label for="inputStoreDescription" class="col-lg-4 control-label">Primer Nombre</label>
                <div class="col-lg-8">
                    <input id="text3" type="text" ng-model="editarPersona.Nombres1" class="form-control" placeholder="Ingrese Primer Nombre" maxlength="20" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':editarPersona.Nombres2==''}">
                <label for="inputStoreDescription" class="col-lg-4 control-label">Segundo Nombre</label>
                <div class="col-lg-8">
                    <input id="text3" type="text" ng-model="editarPersona.Nombres2" class="form-control" placeholder="Ingrese Segundo Nombre" maxlength="20" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':editarPersona.Sexo==''}">
                <label for="inputStoreDescription" class="col-lg-4 control-label">Genero</label>
                <div class="col-lg-8">
                    <select ng-model="editarPersona.Sexo" class="form-control">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                    <!--<input id="text3" type="text" ng-model="nuevaPersona.Sexo" class="form-control" placeholder="Ingrese Genero" maxlength="20" />-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-success" ng-click="guardarPersona(editarPersona)">Guardar</button>
        </div>
    </div>
</div>
</div
